In [71]:
# Import Libraries
import pandas as pd
import datetime as datetime

In [72]:
# Alarms dataframe 
file_to_load = "Resources/saveris_alarms.csv"
alarms_df = pd.read_csv(file_to_load)
print(alarms_df.shape)
alarms_df.head()

(7420, 9)

,Estado,Fecha,Tipo,Localidad,Grupo de puntos de medición,Rango,Evento,Value,Limit
0,0,20/05/22 8:15,Alarma,OCO-Anden-Sensor2,Platform,NaN,recovery,1.0,0.0
1,1,20/05/22 8:00,Alarma,OCO-Anden-Sensor2,Platform,NaN,deficit,-0.1,0.0
2,0,20/05/22 3:45,Alarma,OCO-Ultracongelador-Camara 3-Sensor2,Deepfreezer,NaN,recovery,-32.2,-32.0
3,0,20/05/22 3:30,Alarma,OCO-Ultracongelador-Camara 3-Sensor1,Deepfreezer,NaN,recovery,-32.0,-32.0
4,0,20/05/22 2:15,Alarma,OCO-Congelacion-Camara2-Sensor1,Freezer,NaN,recovery,-22.6,-22.0

In [73]:
# Drop columns that are not necessary
alarms_df = alarms_df.drop(['Rango','Tipo'], inplace=False, axis=1)

# Rename columns
alarms_df = alarms_df.rename(columns={'Estado':'status', 'Fecha':'date', 'Localidad':'sensor','Grupo de puntos de medición':'location', 'Evento':'alarm_type', 'Value':'value', 'Limit':'limit'})

# New columns order
# Reorder columns
new_columns_order = ['date', 'location', 'sensor', 'status', 'alarm_type', 'limit', 'value']
alarms_df = alarms_df[new_columns_order]

# Drop NaN rows
alarms_df = alarms_df.dropna()

print(alarms_df.shape)
alarms_df.head()

(7220, 7)

,date,location,sensor,status,alarm_type,limit,value
0,20/05/22 8:15,Platform,OCO-Anden-Sensor2,0,recovery,0.0,1.0
1,20/05/22 8:00,Platform,OCO-Anden-Sensor2,1,deficit,0.0,-0.1
2,20/05/22 3:45,Deepfreezer,OCO-Ultracongelador-Camara 3-Sensor2,0,recovery,-32.0,-32.2
3,20/05/22 3:30,Deepfreezer,OCO-Ultracongelador-Camara 3-Sensor1,0,recovery,-32.0,-32.0
4,20/05/22 2:15,Freezer,OCO-Congelacion-Camara2-Sensor1,0,recovery,-22.0,-22.6

In [74]:
# Check data types
alarms_df.dtypes

date           object
location       object
sensor         object
status          int64
alarm_type     object
limit         float64
value         float64
dtype: object

In [75]:
# Change date object type to datetime
alarms_df['date'] =  pd.to_datetime(alarms_df['date'], format='%d/%m/%y %H:%M')
alarms_df.dtypes

date          datetime64[ns]
location              object
sensor                object
status                 int64
alarm_type            object
limit                float64
value                float64
dtype: object

In [77]:
alarms_df.head()

,date,location,sensor,status,alarm_type,limit,value
0,2022-05-20 08:15:00,Platform,OCO-Anden-Sensor2,0,recovery,0.0,1.0
1,2022-05-20 08:00:00,Platform,OCO-Anden-Sensor2,1,deficit,0.0,-0.1
2,2022-05-20 03:45:00,Deepfreezer,OCO-Ultracongelador-Camara 3-Sensor2,0,recovery,-32.0,-32.2
3,2022-05-20 03:30:00,Deepfreezer,OCO-Ultracongelador-Camara 3-Sensor1,0,recovery,-32.0,-32.0
4,2022-05-20 02:15:00,Freezer,OCO-Congelacion-Camara2-Sensor1,0,recovery,-22.0,-22.6

In [78]:
alarms_df.sensor.value_counts()
if x < 0:
    x = 0
    print('Negativo... convertido en cero')
elif x == 0:
    print('Cero')
elif x == 1:
    print('Uno')
else:
    print('Otro')

OCO-Congelacion-Camara2-Sensor1         2805
OCO-Ultracongelador-Camara 3-Sensor1    1331
OCO-Congelacion-Camara2-Sensor2         1279
OCO-Ultracongelador-Camara 3-Sensor2    1137
OCO-Anden-Sensor2                        394
OCO-Anden-Sensor1                        158
OCO-Refrigeracion-Camara4-Sensor1         60
OCO-Refrigeracion-Camara4-Sensor2         56
Name: sensor, dtype: int64

In [ ]:
# create a function
def sensor_type(name):
    if name == 'OCO-Congelacion-Camara2-Sensor1':
        return ('freezer_1')
    elif name == 'OCO-Congelacion-Camara2-Sensor2':
        return ('freezer_2')
    elif name == 'OCO-Anden-Sensor1':
        return ('platform_1')
    elif name == 'OCO-Anden-Sensor2':
        return ('platform_2')
    elif name == 'OCO-Ultracongelador-Camara 3-Sensor1':
        return ('deepfreezer_1')
    elif name == 'OCO-Ultracongelador-Camara 3-Sensor2':
        return ('deepfreezer_2')
    elif name == 'OCO-Refrigeracion-Camara4-Sensor1':
        return ('cooler_1')
    elif name == 'OCO-Refrigeracion-Camara4-Sensor2':
        return ('cooler_2')
# create a new column based on condition
alarms_df['sensor_name'] = alarms_df['sensor'].apply(sensor_type)
# display the dataframe
alarms_df.head()